 <% @users.each do |user| %>
 <table>
   <tr>
     <td><%= user.name %></td>
     <td><%= user.email %></td>
     <td><%= link_to 'Show', user %></td>
     <td><%= link_to 'Edit', edit_user_path(user) %></td>
     <td><%= link_to 'Destroy', user, method: :delete %></td>
   </tr>
 </table>
 <% end %>
 <%= link_to 'New User', new_user_path %>
