<% @microposts.each do |micropost| %>
  <table>
    <tr>
      <td><%= micropost.content %></td>
      <td><%= micropost.user_id %></td>
      <td><%= link_to 'Show', micropost %></td>
      <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>
      <td><%= link_to 'Destroy', micropost, method: :delete %></td>
    </tr>
  </table>
<% end %>
<%= link_to 'New Micropost', new_micropost_path %>
